.debug header {
    height: 50px;
}

.debug .start {
    height: 300px;
}

.debug .portfolio {
    height: 500px;
}

.debug .about {
    height: 300px;
}

.debug .contact {
    height: 400px;
}

.debug .top_footer {
    height: 200px;
}

.debug .bottom_footer {
    height: 80px;
}

header,
.bottom_footer {
    background-color: #2C3E50;
}

header .hide_btn {
    display: none;
}

.start,
.about {
    background-color: #1ABC9C;
}

.top_footer {
    background-color: #3A546D;
}

.start img {
    width: 150px;
}

.portfolio .row img {
    width: 100%;
    border-radius: 10px;
}

@media screen and (max-width: 576px) {
    header .menu {
        display: none;
    }

    header .hide_btn {
        display: block;
    }
}