/************************
Debug rules
************************/
.debug header {
    height: 50px;
}

.debug .start {
    height: 300px;
}

.debug .portfolio {
    height: 500px;
}

.debug .about {
    height: 300px;
}

.debug .contact {
    height: 400px;
}

.debug .top_footer {
    height: 200px;
}

.debug .bottom_footer {
    height: 80px;
}

/************************
Utility
************************/
a {
    color: #1ABC9C;
    text-decoration: none;
}

a:hover {
    color: #1ABC9C;
    text-decoration: underline;
}

header,
.bottom_footer {
    background-color: #2C3E50;
}

.start,
.about {
    background-color: #1ABC9C;
}

.top_footer {
    background-color: #3A546D;
}

.star i {
    font-size: 1.3rem;
}

.line_before,
.line_after {
    width: 15%;
    height: 4px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.portfolio .line_before,
.portfolio .line_after,
.contact .line_before,
.contact .line_after {
    background-color: #000000;
}

/************************
Header
************************/
/* Navbar */
.navbar-light .navbar-toggler {
    border-color: #FFFFFF;
}

.navbar-light .navbar-toggler-icon {
    filter: contrast(0%) brightness(1.7);
}

/************************
Main
************************/
/* Start */
.start img {
    width: 150px;
}

/* Portfolio */
.portfolio .row img {
    width: 100%;
    border-radius: 10px;
}

textarea.form-control {
    height: 200px;
}

/* Contact */
.form-control {
    padding-left: 0;
    padding-top: 0;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
}

.form-control:-moz-placeholder {
    color: #000000 !important;
}

.form-control::-webkit-input-placeholder {
    color: #000000 !important;
}

.form-control[placeholder],
[placeholder],
*[placeholder] {
    color: #000000 !important;
}

.form-control:focus {
    border-color: #1ABC9C;
    box-shadow: 0 0 0 0.25rem rgb(26 188 156 / 25%);
}

.btn_green {
    background-color: #1ABC9C;
    color: #FFFFFF;
}

.form .btn:hover {
    color: #FFFFFF;
    box-shadow: 0 0 0 0.25rem rgb(26 188 156 / 25%);
}

.form .btn:focus {
    box-shadow: 0 0 0 0.25rem rgb(26 188 156 / 25%);
}

/************************
Footer
************************/
.social_icon {
    width: 45px;
    height: 45px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}

.copyright {
    font-size: 0.9rem;
}